<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="" />
    <link href="https://use.typekit.net/aks0uxe.css" rel="stylesheet">
    <link href="/base.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
    <link href="/transcripts.css" rel="stylesheet">
  </head>
  <body>
    <header class="container">
      <div class="header-context">
        <div class="h2">
          <a
            class="fade"
            href="/index"><h2>Placing the Holocaust</h2></a>
        </div>
      </div>
      <div class="header-title">
        <div class="h1">
          <a class="fade" href="/"></a>
        </div>
      </div>
      <div class="header-nav">
        <div class="h2">
          <a class="fade" href="/about">About</a>
        </div>
        <div class="h2">
          <a class="fade" href="/transcripts/">Transcripts</a>
        </div>
        <div class="h2">
          <a class="fade" href="">Streamlit</a>
        </div>
        <div class="h2">
          <a class="fade" href="">ArcOnline</a>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
  </body>
</html>